.containter{
	width: 100%;
	height: 100px;
	background-color: red;
	position: fixed;

}
.trangchu{
	background-image: url(../IMG/bg.png);
	background-size: cover;
	/*background-repeat:repeat;*/
	margin: -10px;
	height: 100%;
}
.left{
	float: left;
}

#logo{
	width: 100%;
	height: 90px;
	margin-top: 10px;
	margin-left: 20px;
}
/*Slogan*/
.infor{
	float: right;
}
.infor  ul li{
	display: inline-table;
	padding: 12px;
}
.infor  ul li a{
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
	color: #A92B45;
	text-shadow: 1px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.infor  ul li a img{
	vertical-align: middle;}

/* Menu */

#menu{
	position: fixed;
	margin-top: 80px;
	width: 100%;

}
#menu ul{
	list-style-type: none;
	background: #FF6699;
	text-align: center;
	/* overflow: hidden; */
}
#menu ul li{
	color: white;
	display: inline-table;
	width: 1050px;
	height: 40px;
	border-right: 1px solid;
	line-height: 40px;
	position: relative;
}

#menu ul li a{
	color:white;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	font-size: 15px;
	text-align: left;
}
#menu li a {
	font-size: 10px;
}

#menu ul li a:hover  {
	/*border-bottom-color: black;*/
	color: black;
	font-size: 15px;
	transition: 0.3s;
}
#menu ul li >.sub-menu{
	display: none;
	position: absolute;
}
#menu ul li ul.sub-menu{
   display: block;
   position: absolute;
   background-color: #FFAEBD;
 }
#menu ul li:hover>.sub-menu{
   display: block;
 }

/*menu cấp 2*/
#menu ul li ul.sub-menu{
	display: none;
}
#menu ul li ul {
	display: none;
}
#menu ul li ul li:hover>.sub-menu1{
   display:	inline-table;
   position: absolute;
   margin-left:50px;
 }
#menu ul li ul li:hover > sub-menu1{
	display: block;
}
#menu ul ul ul{
	left: 100px;
	top: 0px;
	background-color: pink;
}
.header{
	background-color: black;
	height: auto
}
/*LOGO*/
.logo ul li{
	display: inline-block;

}
#menu >a{
	float: right;
	margin-top: -40px;
	margin-right: 500px;
}
/*banner*/
.slides_show{
	padding-top: 150px;
	width: 100%;
	height: 500px;
	overflow: hidden;
	top: 100%;
	left: 50%;

/*	transform: translate(-50%,-50%);*/
	/*z-index: -99;*/
	
}
.navigation{
	position: absolute;
	bottom: -20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	top: 70%;
}
.bar{
	width: 15px;
	height: 15px;
	border: 2px solid #fff;
	border-radius: 30px;
	margin: 10px;
	cursor: pointer;
}

.bar:hover{
	background: #fff;
	transition: 0.6s;
	border: 1.5px solid red;
	
}

input[name="bottom"]{
	position: absolute;
	visibility: hidden;
}

.slides{
	width: 500%;
	height: 100%;
	display: flex;
}

.slide{
	width: 20%;
	transition: 0.6s;
}

.slide img{
	width: 100%;
	height: 100%;
}

#bottom_1:checked ~ .s1{
	margin-left: 0;
}
#bottom_2:checked ~ .s1{
	margin-left: -20%;
}
#bottom_3:checked ~ .s1{
	margin-left: -40%;
}
#bottom_4:checked ~ .s1{
	margin-left: -60%;
}
#bottom_5:checked ~ .s1{
	margin-left: -80%;
}
/*nội dung web*/
.content{
	margin: 0 auto;
	width: 1200px;
	align-items: center;
	height: 1000px;
}
.see-pro{
	height: 300px;
	width: 100%;
	padding-bottom: 150px;
}
#pro1, #pro2,#pro3 {
	width: 366px;
	height: 300px;
	overflow: hidden;
}
#pro1, #pro2{
	padding-right: 50px;
	float: left;
}
/*#pro1, #pro2{
	float: left;
}*/
#pro2, #pro3{
	float: left;
}
.see-pro  #pro1 :hover {
	border: 1px solid black;
}
.see-pro  #pro1:hover>.text-dark {
	display: inline-block;}
.see-pro  #pro2 :hover{
	border: 1px solid black;
}
.see-pro  #pro2:hover>.text-dark {
	display: inline-block;
	border: 1px solid black;
}
.see-pro  #pro3 :hover{
	border: 1px solid black;
}
.see-pro  #pro3:hover>.text-dark {
	display: inline-block;}

/*thông tin cuối trang*/
#botton{
	width: 100%;
	margin-top: 10px;
	padding-top: 0px;
	background-color: #242A37;
	height: 300px;
	float: left;

}
#intro{
	padding-top: 20px;
	color:white;
	text-align: center;
	font-size: 30px;

}
#adress{
	padding: 20px;
	color:white;
	font-size: 20px;
}
#phone {
	padding: 10px;
	color:white;
	font-size: 20px;
}
#mail {
	padding: 10px;
	color: white;
	font-size: 20px;
}
#admin {
	padding: 10px;
	color: white;
	font-size: 20px;
}

/* Popup form login */

.btn-login{
	width: 100px;
	height: 40px;
	border: 2px;
	background-color: rgb(68, 41, 223);
	border-radius: 5px;
	color: white;
	font-size: 16px;
	cursor: pointer;
}

.btn-register{
	width: 100px;
	height: 40px;
	border: 2px;
	background-color: rgb(68, 41, 223);
	border-radius: 5px;
	color: white;
	font-size: 16px;
	cursor: pointer;
}



.popup {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.popup-content {
	height: 300px;
	width: 500px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}


input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
    height: 25px;
    margin-top: 20px;
    border: 2px solid gray;
	border-radius: 5px;
    font-size: 18px;

}
.login{
	width: 120px;
	height: 50px;
	border: 2px;
	background-color: skyblue;
	border-radius: 5px;
	font-size: 15px;
	cursor: pointer;
}


.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}

/* introduce */
.introduce{
	padding: 20px;
	margin-right: 20px;
}
.img{
	margin-left: 80px;
	margin-right: 100px;
	float: left;
}
.txt{
	text-align: centẻ
	;
	float: left;
}